@page "/"

<h1>Bienvenue sur la machine à sons de GIPE.</h1>

<div class="form-group">
    Ici tu pourra embêter ton/ta collègue avec différents sons, de la voix de Google à des sons de Chewbacca. A utiliser avec modération. Enjoy!
</div>

<TextToSpeech/>